---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Careers | Rejoice Estate Consultants">
  <section class="w-full flex flex-col gap-10">
    <h2 class="text-4xl font-bold md:text-7xl">Careers</h2>
    <p class="text-2xl">
      Passionate about real estate and innovation? Join Rejoice Estate
      Consultants to help revolutionize the industry in Mumbai’s Western
      Suburbs. We seek talented, driven individuals for a collaborative and
      growth-focused environment. Explore our openings and apply today to
      advance your career and make a difference with us
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSd08zDUvIseilWQnXR9Nh07awsyVadQvaFjsp8qkv_2LMoZtg/viewform"
      class="flex items-center gap-5 text-xl md:text-2xl"
      ><ion-icon name="document-outline" class=""></ion-icon>
      <p>Fill the form to submit any business inquiry</p></a
    >
    <a
      href="https://www.instagram.com/realestatewithprashant/?igsh=ZGUzMzM3NWJiOQ%3D%3D"
      class="flex items-center gap-5 text-xl md:text-2xl"
    >
      <ion-icon name="logo-instagram"></ion-icon>
      <p>Reach out via Instagram</p>
    </a>
    <a
      href="https://www.facebook.com/rejoiceestateconsultants?mibextid=ZbWKwL"
      class="flex items-center gap-5 text-xl md:text-2xl"
    >
      <ion-icon name="logo-facebook"></ion-icon>
      <p>Reach out via Facebook</p>
    </a>
  </section>
</RootLayout>
