---
import { Icon } from "astro-icon/components";
import RootLayout from "../layouts/RootLayout.astro";
import { cloudImages } from "../../constants";
---

<RootLayout title="Career | Rejoice Estate Consultants">
  <section
    class="w-full flex flex-col-reverse md:flex-row gap-20 items-center justify-between mt-5"
  >
    <!-- Heading -->
    <section
      class="flex flex-col-reverse md:flex-row justify-between w-full md:w-[50%]"
    >
      <div class="flex flex-col gap-5">
        <h1 class="text-4xl font-semibold">
          Join Our Dynamic Team and Shape the Future of Real Estate!
        </h1>
        <span class="md:text-2xl">
          <p>
            Are you passionate about real estate and driven by innovation? At
            Rejoice Estate Consultants, we're always looking for talented
            individuals to join our forward-thinking team. Work on exciting
            projects, grow your career, and make a difference. Explore our
            current openings and apply today to be a part of our journey towards
            excellence!
          </p>
        </span>
      </div>
    </section>
    <!-- Image -->
    <img
      src={cloudImages.career}
      alt="Looking for property in mumbai"
      class="w-full object-cover object-center place-items-center md:w-[40%]  rounded-2xl shadow-xl"
    />
  </section>

  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSd08zDUvIseilWQnXR9Nh07awsyVadQvaFjsp8qkv_2LMoZtg/viewform"
    class="w-full flex items-center gap-5"
  >
    <Icon name="form" class="size-10" />
    <p class="md:text-2xl">Fill out the form to submit your resume</p>
  </a>
</RootLayout>

<style is:inline>
  a {
    :hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
</style>
