---
import { Image } from "astro:assets";
import RootLayout from "../layouts/RootLayout.astro";
import { cloudImages } from "../../constants";
---

<RootLayout>
  <section
    class="w-full flex flex-col-reverse lg:flex-row items-center justify-between gap-10 "
  >
    <section
      class="w-full lg:w-1/2 flex flex-col justify-center gap-5 text-left"
    >
      <h2 class="text-4xl font-bold md:text-5xl lg:text-7xl">
        Welcome to Rejoice
      </h2>
      <p class="text-lg md:text-2xl lg:text-4xl">
        At Rejoice Estate Consultants, we provide top real estate services. Our
        experienced team guides you through every step, ensuring you make
        informed and confident decisions.
      </p>
    </section>
    <Image
      src={cloudImages.homeImageOne}
      alt="Property in Mumbai"
      width={1000}
      height={1000}
      class="w-full sm:w-[60%] md:w-[50%] lg:w-[40%] my-5 rounded-2xl object-cover object-center shadow-xl"
    />
  </section>
  <section
    class="w-full flex flex-col-reverse lg:flex-row-reverse items-center justify-between gap-10 my-20"
  >
    <section
      class="w-full lg:w-1/2 flex flex-col justify-center gap-5 text-left"
    >
      <h2 class="text-4xl font-semibold md:text-5xl lg:text-7xl">
        Your Dream Property Awaits
      </h2>
      <p class="text-lg md:text-2xl lg:text-4xl">
        Whether you're buying, selling, or investing, Rejoice Estate Consultants
        is dedicated to helping you achieve your real estate goals. We leverage
        our deep knowledge of the market and vast network to offer you
        unparalleled opportunities and personalized service.
      </p>
    </section>
    <Image
      src={cloudImages.homeImageTwo}
      alt="Property in Mumbai"
      width={1000}
      height={1000}
      class="w-full sm:w-[60%] md:w-[50%] lg:w-[40%]  my-5 rounded-2xl object-cover object-center shadow-xl"
    />
  </section>
</RootLayout>
