---
import { Image } from "astro:assets";
import RootLayout from "../layouts/RootLayout.astro";
import { homePageImages } from "../Constants";
---

<RootLayout>
  <section
    class="flex flex-col h-[calc(100vh-100px)] items-center justify-between"
  >
    <section
      class="w-full flex flex-col-reverse md:flex-row items-center justify-between"
    >
      <section
        class="w-full flex flex-col-reverse md:flex-row-reverse items-center justify-between"
      >
        <section class="w-full md:w-1/2 flex flex-col justify-center gap-5">
          <h2 class="text-4xl font-bold md:text-7xl">Welcome to Rejoice</h2>

          <p class="text-xl md:text-4xl">
            At Rejoice Estate Consultants, we provide top real estate services.
            Our experienced team guides you through every step, ensuring you
            make informed and confident decisions.
          </p>
        </section>
        <Image
          src={homePageImages.home2}
          alt="Property in Mumbai"
          width={320}
          height={209}
          class="w-full md:h-[450px] my-5 md:w-[40%] rounded-2xl object-cover object-center shadow-xl"
        />
      </section>
    </section>
    <footer class="w-full h-auto">
      <img
        src="https://res.cloudinary.com/aryansharma/image/upload/f_auto,q_auto/footer1"
        alt="footer"
        class="w-full h-auto"
        loading="lazy"
      />
    </footer>
  </section>
</RootLayout>
