---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Inquiry | Rejoice Estate Consultants">
  <section class="w-full flex flex-col gap-10">
    <h2 class="text-4xl font-bold md:text-7xl">Inquiry</h2>
    <p class="text-2xl">
      At Rejoice Estate Consultants, we provide innovative real estate solutions
      and exceptional service. For personalized assistance or business inquiries
      in Mumbai's Western Suburbs, fill out the form below, and we'll get in
      touch soon.
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSd08zDUvIseilWQnXR9Nh07awsyVadQvaFjsp8qkv_2LMoZtg/viewform"
      class="flex items-center gap-5 text-xl md:text-2xl"
      ><ion-icon name="document-outline" class=""></ion-icon>
      <p>Fill the form to submit any business inquiry</p></a
    >
    <a
      href="https://www.instagram.com/realestatewithprashant/?igsh=ZGUzMzM3NWJiOQ%3D%3D"
      class="flex items-center gap-5 text-xl md:text-2xl"
    >
      <ion-icon name="logo-instagram"></ion-icon>
      <p>Reach out via Instagram</p>
    </a>
    <a
      href="https://www.facebook.com/rejoiceestateconsultants?mibextid=ZbWKwL"
      class="flex items-center gap-5 text-xl md:text-2xl"
    >
      <ion-icon name="logo-facebook"></ion-icon>
      <p>Reach out via Facebook</p>
    </a>
  </section>
</RootLayout>
