---
import { Image } from "astro:assets";
import { cloudImages } from "../../constants";
---

<section
  class="w-full flex flex-col-reverse lg:flex-row justify-between items-center"
>
  <div class="w-full lg:w-1/2 flex flex-col justify-center gap-5 text-left">
    <h1 class="text-3xl font-bold md:text-4xl lg:text-5xl">
      Navigate Real Estate with Confidence
    </h1>
    <p
      class="font-light text-darkGray text-center md:text-left text-lg md:text-2xl lg:text-4xl"
    >
      Experience, Expertise, Excellence
    </p>
  </div>
  <Image
    src={cloudImages.inquiry}
    width={1000}
    height={1000}
    alt="property in mumbai"
    class="w-full lg:w-[40%]  my-5 rounded-2xl object-cover object-center shadow-xl aspect-video"
  />
</section>
